{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}

	<div class="hero-inner d-flex justify-content-center align-items-center">
		<h3 class="mt fw-bolder">
            Trouvez les offres qui vous Correspondent
        </h3>
		
	</div>

	<div class="container">
		
	</div>
{% endblock %}

